language: go

dist: xenial

go:
- 1.12.x

notifications:
  email: true

env:
  global:
    - GO111MODULE=on

before_install:
- sudo apt-get update
- sudo apt-get install python
- nvm install 12
- npm install -g npm@6.x

before_install:
- openssl aes-256-cbc -K "$ghost_key" -iv "$ghost_iv" -in .ghostenv.enc -out .ghostenv -d || true
- openssl aes-256-cbc -K $encrypted_3b05ea0a069c_key -iv $encrypted_3b05ea0a069c_iv -in .iam_access_groups_env.enc -out .iam_access_groups_env -d || true

install:
- curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh| sh -s -- -b $(go env GOPATH)/bin v1.21.0

script:
- go test `go list ./... | grep -v Samples` -tags=integration
- golangci-lint run

# before_deploy:
# - pip install --user bump2version
# - npm install @semantic-release/changelog
# - npm install @semantic-release/exec
# - npm install @semantic-release/git
# - npm install @semantic-release/github
# 
# deploy:
#   - provider: script
#     script: npx semantic-release
#     skip_cleanup: true
#     on:
#       branch: master
